[connection:eos-10]
host: 10.0.5.10

[connection:eos-11]
host: 10.0.5.11

[connection:eos-12]
host: 10.0.5.12

[connection:eos-13]
host: 10.0.5.13

[connection:eos-14]
host: 10.0.5.14

[connection:eos-15]
host: 10.0.5.15

[connection:eos-16]
host: 10.0.5.16

[connection:eos-19]
host: 10.0.5.19

[connection:eos-20]
host: 10.0.5.20

[connection:eos-21]
host: 10.0.5.21

[connection:7280-01]
host: 10.0.5.83

[DEFAULT]
transport: https
username: admin
password: bone8181

[connection:tg254]
host: 172.28.129.56
username: admin
transport: https

[connection:7150-01]
host: 7150-01.lan
username: admin
transport: https
